<div class="example-container">
    <h2>Por Hacer</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, finishList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>En Proceso</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, finishList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Terminadas</h2>
  
    <div
      cdkDropList
      #finishList="cdkDropList"
      [cdkDropListData]="finish"
      [cdkDropListConnectedTo]="[doneList, todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of finish" cdkDrag>{{item}}</div>
    </div>
  </div>

  <app-progreso></app-progreso>
